@model Harbor.Models.Product

<!DOCTYPE html>

<html>
<div class="navbar">
    <a href="/Home/Index"><h1 style="margin-left:111px;color: rgb(255, 255, 255);font-family:Arial, Helvetica, sans-serif">H Λ R B O R</h1></a>
    <ul>

        <li><a href="/Product/Cart">Cart</a></li>
        <li><a href="/User/UserHistory">User History</a></li>
        <li><a href="/Home/contact">contactus</a></li>
        <li><a href="/Home/about">About</a></li>
        <li><a href="/User/Logout">Logout</a></li>
    </ul>
</div>
<head>
    <title>Add Product</title>
</head>
<body>
    <div class="warp">
        <div class="ff">
            <form asp-action="AddProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
                <div class="col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                <div class="col-md-6">
                    <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                <div class="col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>

                    <div >
                        <label for="" class="form-label">Image</label>
                            <input type="file" class="form-control" asp-for="Image" name="img_file">
                    </div>
                    <div >
                        <button  style="width:300px;" type="submit" class="button">Submit</button>
                    </div>

                    <a class="GTS" asp-controller="Product" asp-action="Show">Go To Shop</a>
            </form>
        </div>
    </div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
<style>
    .form-control{
    position:center;
        background: rgba(190,190,190);
    }
    ff{
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }
    .warp {

        width: 100%;
        margin: auto;
        max-width: 500px;
        min-height: 670px;
        position: relative;
    }
    .col-md-6{
        
    padding-left:40px;
    margin-top:0px;
    width:350px;
    position:center;
    }
    label{
        color: #aaa;
        font-size: 15px;
        margin:10px;
    }
    .button{
        background: #1794c6;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #1794c6;
        background: transparent;
        color: #fff;
        cursor: pointer;
        position: center;
        overflow: hidden;
        margin-left:3px;
    }
    .button:hover{
            background-color: #1794c6;
    }
    form{
        border-radius:20px;
        position:center;
        background-color:#2e2e2e;
        width:400px;
        margin:40px;
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
        height:500px;
    }
    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .h1 
    {
         width: 120px;
        cursor: pointer;
    }

        .navbar {
            width: 100%;
            margin: auto;
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .navbar ul {
                font: 600 16px/18px 'Open Sans',sans-serif;
                margin-right: 111px;
            }

        .h1 {
            width: 120px;
            cursor: pointer;
        }

        .navbar ul li {
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }

            .navbar ul li a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
            }

            .navbar ul li::after {
                content: '';
                height: 3px;
                width: 0;
                background: #1794c6;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: 0.5s;
            }

            .navbar ul li:hover::after {
                width: 100%;
            }
             body {
                margin: 0;
                color: #6a6f8c;
                background: #c8c8c8;
                font: 600 16px/18px 'Open Sans',sans-serif;
                background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url("https://www.blue-growth.org/blue_growth_pictures/Ports-Holland-Dutch-Container-Ships-Docks.jpg");
                background-size: cover;
                background-position: center;
            }
            .GTS{
                margin-left:115px;
                position:relative;
                text-align:center;
                bottom:-20px;
                
            }
            </style>
