@model Ports
<form asp-action="Add" asp-controller="Port" method="post">
	<div class="mb-3">
        <label for="" class="form-label">Port Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
        <div class="mb-3">
            <label for="" class="form-label">Location</label>
            <input type="text" class="form-control" asp-for="Location">
        </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>